<!DOCTYPE html>
<html>
<head>
  <title>Soundready</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="content">
      <div class="page-header">
        <h1 class="branding">SoundReady <em>with</em> <%= image_tag "/assets/rdio_logo.png", :height => 25 %></h1>
        <ul class="social-buttons unstyled">
          <li>
            <a href="https://twitter.com/share" class="twitter-share-button" data-enable-new-sizing="true" data-url="http://www.soundready.fm" data-via="soundready" data-lang="en" data-related="dannyhertz">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </li>
        </ul>
      </div>
      <div class="row content-body">
        <%= yield %>
      </div>
    </div>
    <div class="footer">
      <p>Made in San Francisco. Copyright © 2011 by <a href="http://twitter.com/dannyhertz">Danny Hertz</a>. All rights reserved.</p>
    </div>
  </div>
</body>
</html>
